In [24]:
import pandas as pd
import numpy as np

In [25]:
aisle = pd.read_csv('aisles.csv')
department = pd.read_csv('departments.csv')
order_product = pd.read_csv('order_products.csv')
order = pd.read_csv('orders.csv')
product = pd.read_csv('products.csv')

In [26]:
df1 = pd.merge(product, aisle, on='aisle_id', how='left')

In [27]:
df2 = pd.merge(df1, department, on='department_id', how='left')

In [28]:
df3 = pd.merge(order_product, df2, on='product_id', how='left')

In [30]:
table_new = pd.merge(order, df3, on='order_id', how='left')
table_new

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,product_name,aisle_id,department_id,aisle,department
0,2539329,1,1,2,8,NaN,196.0,1.0,Soda,77.0,7.0,soft drinks,beverages
1,2539329,1,1,2,8,NaN,14084.0,2.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,soy lactosefree,dairy eggs
2,2539329,1,1,2,8,NaN,12427.0,3.0,Original Beef Jerky,23.0,19.0,popcorn jerky,snacks
3,2539329,1,1,2,8,NaN,26088.0,4.0,Aged White Cheddar Popcorn,23.0,19.0,popcorn jerky,snacks
4,2539329,1,1,2,8,NaN,26405.0,5.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,paper goods,household
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33894101,272231,206209,14,6,14,30.0,40603.0,4.0,Fabric Softener Sheets,75.0,17.0,laundry,household
33894102,272231,206209,14,6,14,30.0,15655.0,5.0,Dark Chocolate Mint Snacking Chocolate,45.0,19.0,candy chocolate,snacks
33894103,272231,206209,14,6,14,30.0,42606.0,6.0,Phish Food Frozen Yogurt,37.0,1.0,ice cream ice,frozen
33894104,272231,206209,14,6,14,30.0,37966.0,7.0,French Baguette Bread,112.0,3.0,bread,bakery
33894105,272231,206209,14,6,14,30.0,39216.0,8.0,Original Multigrain Spoonfuls Cereal,121.0,14.0,cereal,breakfast

In [31]:
table_new['order_rank'] = table_new.groupby(['user_id','product_id'])['order_number'].rank()

In [33]:
def reorder(order_rank):
    if order_rank == 1:
        n = 0
    else: 
        n = 1
    return n
table_new['reordered'] = table_new['order_rank'].apply(reorder)
table_new.head(20)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,product_name,aisle_id,department_id,aisle,department,order_rank,reordered
0,2539329,1,1,2,8,NaN,196.0,1.0,Soda,77.0,7.0,soft drinks,beverages,1.0,0
1,2539329,1,1,2,8,NaN,14084.0,2.0,Organic Unsweetened Vanilla Almond Milk,91.0,16.0,soy lactosefree,dairy eggs,1.0,0
2,2539329,1,1,2,8,NaN,12427.0,3.0,Original Beef Jerky,23.0,19.0,popcorn jerky,snacks,1.0,0
3,2539329,1,1,2,8,NaN,26088.0,4.0,Aged White Cheddar Popcorn,23.0,19.0,popcorn jerky,snacks,1.0,0
4,2539329,1,1,2,8,NaN,26405.0,5.0,XL Pick-A-Size Paper Towel Rolls,54.0,17.0,paper goods,household,1.0,0
5,2398795,1,2,3,7,15.0,196.0,1.0,Soda,77.0,7.0,soft drinks,beverages,2.0,1
6,2398795,1,2,3,7,15.0,10258.0,2.0,Pistachios,117.0,19.0,nuts seeds dried fruit,snacks,1.0,0
7,2398795,1,2,3,7,15.0,12427.0,3.0,Original Beef Jerky,23.0,19.0,popcorn jerky,snacks,2.0,1
8,2398795,1,2,3,7,15.0,13176.0,4.0,Bag of Organic Bananas,24.0,4.0,fresh fruits,produce,1.0,0
9,2398795,1,2,3,7,15.0,26088.0,5.0,Aged White Cheddar Popcorn,23.0,19.0,popcorn jerky,snacks,2.0,1
10,2398795,1,2,3,7,15.0,13032.0,6.0,Cinnamon Toast Crunch,121.0,14.0,cereal,breakfast,1.0,0
11,473747,1,3,3,12,21.0,196.0,1.0,Soda,77.0,7.0,soft drinks,beverages,3.0,1
12,473747,1,3,3,12,21.0,12427.0,2.0,Original Beef Jerky,23.0,19.0,popcorn jerky,snacks,3.0,1
13,473747,1,3,3,12,21.0,10258.0,3.0,Pistachios,117.0,19.0,nuts seeds dried fruit,snacks,2.0,1
14,473747,1,3,3,12,21.0,25133.0,4.0,Organic String Cheese,21.0,16.0,packaged cheese,dairy eggs,1.0,0
15,473747,1,3,3,12,21.0,30450.0,5.0,Creamy Almond Butter,88.0,13.0,spreads,pantry,1.0,0
16,2254736,1,4,4,7,29.0,196.0,1.0,Soda,77.0,7.0,soft drinks,beverages,4.0,1
17,2254736,1,4,4,7,29.0,12427.0,2.0,Original Beef Jerky,23.0,19.0,popcorn jerky,snacks,4.0,1
18,2254736,1,4,4,7,29.0,10258.0,3.0,Pistachios,117.0,19.0,nuts seeds dried fruit,snacks,3.0,1
19,2254736,1,4,4,7,29.0,25133.0,4.0,Organic String Cheese,21.0,16.0,packaged cheese,dairy eggs,2.0,1